 <div class="hero">
        <div class="heroContainer">
          <a class="heroPicPrev">&#10094;</a>
          <a class="heroPicNext">&#10095;</a>
        </div>
      </div>
      <div class="aboutCovid">
        <h2>IMPORTANT COVID-19 INFO</h2>
        <p>Om det är fler än 20 deltagare får det enbart vara sittande deltagare
          (gäller tillställningar inomhus). Om vaccinationsbevis används gäller
          detta för allmänna sammankomster och offentliga tillställningar
          inomhus upp till 500 personer. Om det är fler än 20 och högst 500
          deltagare inomhus utan vaccinationsbevis gäller krav på maximalt 8
          personer per sällskap och 1 meters avstånd mellan sällskapen. Vid
          arrangemang större än 500 deltagare inomhus krävs vaccinationsbevis
          samt maximalt 8 personer per sällskap och 1 meters avstånd mellan
          sällskapen. I föreskriften om de aktuella åtgärderna finns särskilda
          anvisningar i samband med religionsutövning. Dessutom finns
          föreskrifter om ytterligare smittskyddsåtgärder som ska vidtas så som
          att erbjuda möjlighet till handtvätt, och informera om hur
          smittspridning kan undvikas.</p></div>
      <div class="comingSoon">
        <h2>KOMMANDE FILMER</h2>
        <div class="comingSoonImg">
          <img src="img/covers/cover10.jpg" alt="" />
        </div>
        <div class="comingSoonText">
          <a href="/movies">Alla kommande</a>
        </div>
      </div>
      <div class="screeningsCards">screeningsCards</div>
      <div class="ftMovie">
        <div class="ftMovieContainer">
          <div class="ftMovieLayer">
            <h2 class="ftMovieHeader">VECKANS FILM I FOKUS</h2>
            <div class="ftMovieDescription">Lorem ipsum dolor sit amet
              consectetur, adipisicing elit. Tempora a beatae atque ullam
              excepturi iure.</div>
            <a class="ftMovieButton" href="">Mer information</a>
          </div>
        </div>
      </div>
      <div class="events">
        <div class="eventsHeaderContainer">
          <h2 class="eventsHeader">KOMMANDE EVENTS</h2>
          <div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem
            ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor.
          </div>
        </div>
        <div class="eventsContainer"></div>
      </div>