
    <div class="allMovies-header">hero</div>
    <div class="allMovies-menu">menu</div>
    <div class="allMovies-movies">movies</div>
    <div class="allMovies-footer">footer</div>
    
awhelkfgjawhefkjahwefkj