<div class="moviePage">
  <div class="movieMeta">
    <h1>{{movie.title}}</h1>
    {{! IMDB Rating Button }}
    {{! Stolen code from IMDB }}
    <div class="imdbBtn">
      <span
        class="imdbRatingPlugin"
        data-user="ur7938290"
        data-title="{{movie.imdbId}}"
        data-style="p1"
      >
        <img
          src="https://ia.media-imdb.com/images/G/01/imdb/plugins/rating/images/imdb_46x22.png"
        />
      </span>
      <script>
        (function(d,s,id){ var js, stags=d.getElementsByTagName(s)[0];
        if(d.getElementById(id)){ return; } js=d.createElement(s); js.id=id;
        js.src="https://ia.media-imdb.com/images/G/01/imdb/plugins/rating/js/rating.js";
        stags.parentNode.insertBefore(js,stags); })
        (document,"script","imdb-rating-api");
      </script>
      {{! ---------------------}}
    </div>
    {{{markdown movie.intro}}}
  </div>
  <img src="{{movie.image.url}}" />

</div>

<div id="screenings">
  <h2>Kommande visningar</h2>
  <ul id="screeningsList">
  </ul>

</div>

<div id="reviews">
  <h2>Här kommer rating</h2>
    <ul id="renderList" >
    </ul>
</div>
<script src="/../screening.js"></script>
<script src="/../movie.js"></script>