@include desktop {

  .comingSoon {
    background-color: $c-black;
    color: $c-white;
  }

  .comingSoon h2 {
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }

  .comingSoonText {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 40px;
  }

  .comingSoonText a {
    @include button
    
  }

  .comingSoonImg {
    display: flex;
    justify-content: center;
  }

  .comingSoonImg img {
    height: 600px;
    width: 600px;
  }
}