.events {
  display: none;
}

@media screen and (min-width: 960px) {
  .events {
    background-color: $c-black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 26rem;
    box-sizing: border-box;
    margin-bottom: 2rem;
    color: $c-white;

    .eventsHeaderContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 80%;

      .eventsHeader {
        margin-bottom: 1rem;
      }
    }

    .eventsContainer {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
    }

    a {
      text-decoration: none;
    }

    .eventContainer {
      width: 14rem;
      height: 9rem;
    }

    .eventImage {
      position: relative;
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .eventDate {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: $c-white;
      width: 3rem;
      height: 3rem;
      right: 10px;
      top: 10px;
      text-align: center;
      font-weight: 600;
    }

    .eventTitle {
      margin-top: 0.3rem;
      font-size: $f-subheading;
      font-weight: 500;
    }
  }
}
