.screeningsCards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 1rem 0;

  color: $c-white;
  background-color: $c-black;

  .screeningsCardsLeft {
    width: 40%;

    .screeningsListLeft {
      width: 100%;
    }
  }

  .screeningsCardsRight {
    width: 40%;

    .screeningsListRight {
      width: 100%;
    }
  }

  .screeningCard {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .screeningCardMovieImage {
    height: 5rem;
    width: 3.5rem;
    margin: 0.2rem 0.5rem;

    background-position: center;
    background-size: contain;
  }
}
