.screeningsCards {
  display: flex;
  flex-direction: row;
  background-color: red;
  width: 100%;

  .screeningsCardsLeft {
    background-color: green;
    width: 50%;
    height: 20rem;

    .screeningsListLeft {
      width: 100%;
    }
  }

  .screeningsCardsRight {
    background-color: blue;
    width: 50%;
    height: 20rem;

    .screeningsListRight {
      width: 100%;
    }
  }
}
